body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

label {
  display: block;
}

.color-blue {
  color: #1b98d1;
  font-weight: bold;
  font-size: 1.15rem;
}

.title-section {
  color: #279c0a;
  font-size: 1.1rem;
  font-weight: bold;
}

.main-content {
  margin: 2rem 10rem;
  padding: 2rem;
  border: 2px solid black;
}

.division {
  width: 50%;
  height: 2px;
  background-color: black;
}

.title-header {
  font-size: 1.7rem;
  font-weight: bold;
  margin-top: 0.5rem;
}

.content-data {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.section-address {
  margin-top: 1.3rem;
  font-size: 1rem;
}

.section-skills {
  margin-top: 1.5rem;
  font-size: 1rem;
}

.section-skills p {
  margin-top: 0.5rem;
}

.section-education {
  margin-top: 1.5rem;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.content-education ul {
  margin-top: 0.2rem;
  margin-left: -0.5rem;
}

.section-laboral {
  margin-top: 1.5rem;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.content-laboral ul {
  margin-top: 0.2rem;
  margin-left: -0.5rem;
}

footer {
  margin-top: 1.5rem;
}

footer ul {
  margin-top: 0.2rem;
  margin-left: -0.5rem;
}
